*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f7fa;
}

header{
background:#111;
padding:20px;
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background:linear-gradient(
135deg,
#2b5876,
#4e4376
);

color:white;
}

.hero-content{
width:70%;
}

.hero h1{
font-size:50px;
margin-bottom:15px;
}

.hero h3{
margin-bottom:20px;
}

.buttons{
margin-top:20px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:white;
color:black;
text-decoration:none;
margin:10px;
border-radius:30px;
font-weight:bold;
}

section{
padding:70px;
}

section h2{
text-align:center;
margin-bottom:40px;
}

.skill-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 8px gray;
}

.box{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 3px 8px gray;
}

.project-grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;
}

.project{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 8px gray;
}

footer{
text-align:center;
padding:30px;
background:#111;
color:white;
}
